body {
  background-color: #121212; /* Cor de fundo da página */
  color: #e0e0e0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Garante que o body ocupe pelo menos 100% da altura da janela */
  overflow-y: auto; /* Permite o scroll vertical da página */
}

.app {
  margin: auto;
  max-width: 1200px; /* Limita a largura da página */
  flex-grow: 1; /* Permite que o conteúdo da app ocupe o espaço restante */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #90caf9;
}

.column-selector h2 {
  margin-bottom: 10px;
  color: #bb86fc;
}

.checkbox-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 5px;
}

.checkbox-item {
  background-color: #1e1e1e;
  padding: 8px 12px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.checkbox-item label {
  margin-left: 6px;
}

.loading,
.error {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 50px;
}
