.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 280px;
  background-color: #1c1c1c;
  color: #e0e0e0;
  display: flex;
  flex-direction: column;
  transition: width 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
}

.sidebar.collapsed {
  width: 65px;
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.logo-img {
  height: 50px;
  width: 90px;
  margin-left: -10px;
  margin-top: 5px;
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .logo-img {
  display: none;
  opacity: 0;
}

.collapse-btn {
  background: none;
  border: none;
  color: #e0e0e0;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 8px;
  margin-top: 15px;
}

/* Remover o outline em todos os estados de foco e clique */
.collapse-btn:focus,
.collapse-btn:active {
  outline: none;
  border: none;
}

.collapse-btn:hover {
  background-color: #029e7a;
  color: #ffffff; /* <-- texto branco ao passar o rato */
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 12px 20px;
  color: #e0e0e0;
  text-decoration: none;
  transition: background 0.2s;
}

.sidebar-link:hover {
  background-color: #029e7a;
  color: #ffffff; /* <-- texto branco ao passar o rato */
}

.icon {
  font-size: 1.2rem;
  margin-right: 10px;
  flex-shrink: 0;
}

.link-text {
  transition: opacity 0.3s ease;
}

.sidebar.collapsed .link-text {
  opacity: 0;
  width: 0;
  overflow: hidden;
}

.column-selector {
  padding: 16px;
  overflow-y: auto;
  flex-grow: 1;
}

.column-selector-title {
  font-size: 1rem;
  margin-bottom: 8px;
  color: #e0e0e0;
}

.column-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.checkbox-item {
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  color: #e0e0e0;
  gap: 6px;
}

.checkbox-item input {
  accent-color: #029e7a;
}

.hide-columns {
  display: none;
}

.sidebar-scrollable {
  overflow-y: auto;
  height: 100%;
}

/* Desativa scroll da app quando navbar expandida */
body.navbar-open {
  overflow-y: hidden;
}
