.download-btn {
  background-color: #029e7a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}

.download-btn:hover {
  background-color: #02b88d;
}

.download-btn:focus,
.download-btn:active {
  outline: none;
  box-shadow: none;
  border: none;
}
